.card {
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.card__image:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  max-width: 413px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__delete-btn {
  background-image: url(../images/delete.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.5;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}

.card__like-btn,
.card__like-btn_active {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
