.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}
.modal__close-btn {
  background: url("../images/X exit.svg");
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  border: none;
  opacity: 40%;
  cursor: pointer;
  background-size: 100%;
}
.modal__close-btn:hover {
  opacity: 100%;
}
.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  opacity: 70%;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  padding: 16px 12px 16px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #212121;
  width: 100%;
  box-sizing: border-box;
  opacity: 40%;
}
.modal__input:hover {
  opacity: 100%;
  cursor: pointer;
}
.modal__input::placeholder {
  font-family: "Poppins", sans-serif;
  color: #212121;
}
.modal__submit-btn {
  max-width: 156px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 6px;
  padding: 18px 0;
  cursor: pointer;
  width: 100%;
}
.modal__submit-btn:hover {
  background-color: #212121;
  opacity: 80%;
}

@media screen and (max-width: 620px) {
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    margin-top: 10px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__submit-btn {
    max-width: none;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
}
