.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  opacity: 70%;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
}

.profile__edit-btn {
  margin-top: auto;
  color: #212121;
  background-color: transparent;
  display: flex;
  border: none;
  gap: 8px;
  align-self: flex-start;
  opacity: 0.7;
  cursor: pointer;
}
.profile__edit-btn:hover {
  opacity: 1;
}
.profile__edit-icon {
  margin-right: 0;
}

.profile__add-btn {
  margin-left: auto;
  width: 149px;
  height: 52px;
  border: none;
  display: flex;
  align-self: flex-end;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.profile__add-btn:hover {
  opacity: 0.8;
}
.profile__add-icon {
  margin-right: 6px;
}
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    margin-right: 0;
  }
  .profile__column {
    text-align: center;
    margin-right: 0;
  }
  .profile__name {
    font-size: 20px;
    margin: 0;
    max-width: 288px;
  }

  .profile__description {
    margin: 8px 0 32px 0;
    font-size: 16px;
    max-width: 288px;
  }
  .profile__edit-btn {
    margin: 0 auto 20px auto;
  }

  .profile__add-btn {
    margin: 0;
    max-width: 288px;
    width: 100%;
  }
}
